<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSList | <%= title %> </title>
    <% if (title == 'Home') { %>
        <link rel="stylesheet" href="/style.css">
    <% } %>

    <% if (title == 'About Us') { %>
        <link rel="stylesheet" href="/aboutus.css">
    <% } %>

    <% if (title == 'Login') { %>
        <link rel="stylesheet" href="/login.css">
    <% } %>

    <% if (title == 'Register') { %>
        <link rel="stylesheet" href="/register.css">
    <% } %>

    <% if (title == 'Post' || title == 'Update') { %>
        <link rel="stylesheet" href="/post.css">
    <% } %>
    <% if (title == 'All Posts') { %>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <% } %>
</head>