<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
<!-- faq -->
    <div class="main">
        <h1 class="ask">FAQ SSList</h1>
        <!-- câu hỏi số 1 -->
        <div class="inside">
            <details>
                <summary class="ask">Chủ đề này đã bị khóa và không còn có sẵn để thảo luận.</summary>
                <p>Chủ đề này thảo luận về một số vấn đề phổ biến mà 
                    người dùng SSList gặp phải. Nếu bạn đang gặp sự cố 
                    khi sử dụng trang web, bạn có thể tìm thấy câu 
                    trả lời cho tai ương của mình tại đây. Các vấn 
                    đề chưa được giải quyết trong chủ đề này cũng 
                    có thể được tìm thấy bằng cách tìm kiếm trên Bảng hỗ trợ.
 
                    <p>Mặc dù chúng tôi cố gắng hết sức để hỗ trợ 
                        nhiều loại trình duyệt và thiết bị, xin 
                        lưu ý rằng hỗ trợ kỹ thuật chính thức chỉ 
                        giới hạn ở:</p>

                    <p>Máy tính
                
                    <li>Google Chrome</li>
                    <li>Mozilla Firefox</li>
                    <li>Safari</li>
                    <li>Opera</li>
                    <li>Microsoft Edge</li>
                    <li>Internet Explorer 11</li></p>
                    
                    <p>Di động
                     <li>Safari dành cho Apple iOS 9.x +</li>
                     <li>Google Chrome dành cho Android (phiên bản mới nhất)</li></p>
            </details>      
        </div>

      <!-- câu hỏi số 2 -->
        <div class="inside">
            <details>
                <summary class="ask">Mất bao lâu để các bài nộp được chấp thuận?</summary>
                <p>Hiện tại, hàng đợi khá dài. 
                    Tùy thuộc vào mức độ quan trọng của nội 
                    dung gửi, có thể mất vài ngày đến vài 
                    tháng cho đến khi nó được chấp thuận. 
                    Vui lòng kiên nhẫn chờ đợi và không gửi 
                    lại bài nộp của bạn vì điều này sẽ làm 
                    chậm toàn bộ quá trình.</p>
            </details>      
        </div>

        <!-- câu hỏi số 3 -->
        <div class="inside">
            <details>
                <summary class="ask">Tôi không thể tìm thấy một mục anime / game cụ thể trên SSList.</summary>
                <p>Trước hết, hãy đảm bảo mục nhập 
                    đáp ứng Nguyên tắc cơ sở dữ liệu. Không cho 
                    phép các tác phẩm nước ngoài 
                    (ví dụ: Avatar, "manga" tiếng Anh gốc) 
                    và webcomics Hàn Quốc.</p>

                    <p>Bạn cũng có thể kiểm tra các bài đăng gần 
                    đây trong chuỗi xóa / hợp nhất / từ chối 
                    đối với mục nhập mà bạn lo ngại, để đảm 
                    bảo rằng nó chưa được gửi và bị từ chối trước đó.</p>
            </details>      
        </div>

             <!-- câu hỏi số 4 -->
        <div class="inside">
            <details>
                <summary class="ask">Số liệu thống kê về hồ sơ của tôi cho biết 
                    tôi có nhiều mục nhập hơn so với thực tế. Chuyện gì đang xảy ra vậy?</summary>
                <p>Loạt phim mà bạn đang xem lại vẫn được tính là 
                    "đã hoàn thành" trên số liệu thống kê của hồ sơ.</p>
            </details>      
        </div>

        <!-- câu hỏi số 5 -->
         <div class="inside">
            <details>
                <summary class="ask">Làm cách nào để xem toàn bộ lịch sử của các tập / chương đã thêm / đã xem?</summary>
                <p>Trang lịch sử hiển thị tất cả các cập nhật cho 
                    tuần hiện tại và 3 tuần qua. Không thể hiển thị 
                    thêm tuần nữa. Trên trang lịch sử, bạn có thể nhấp 
                    vào "chỉnh sửa" bên cạnh một mục nhập để xem lịch 
                    sử chi tiết hơn của mục nhập này. Tuy nhiên, danh 
                    sách chi tiết này thường xuyên bị xóa khi chưa có 
                    cập nhật cho mục này (thường là 30 ngày, có thể lâu hơn).</p>
            </details>      
        </div>

        <!-- câu hỏi số 6 -->
        <div class="inside">
            <details>
                <summary class="ask">Một mục anime tiếp tục hiển thị trong danh sách "hiện đang xem" của tôi mặc dù tôi tiếp tục chuyển nó sang "đã hoàn thành".</summary>
                <p>Không thể đặt các mục anime có trạng thái 
                    "hiện đang phát sóng" thành hoàn thành. 
                    Nếu bạn đã hoàn thành một mục trước đây 
                    và sau đó được đặt thành "hiện đang phát sóng", 
                    mục đó sẽ được chuyển trở lại danh sách hiện đang 
                    xem của bạn. Điều này chủ yếu xảy ra với các OVA 
                    có nhiều tập hơn sau đó.</p>
            </details>      
        </div>

        <!-- cau hoi so 7 -->
        <div class="inside">
            <details>
                <summary class="ask">Làm cách nào để xóa chủ đề của chính tôi?</summary>
                <p>Bạn có một khoảng thời gian nhất định mà bạn 
                    có thể xóa chủ đề của mình miễn là không 
                    có ai khác đăng trong đó. Nếu bạn muốn 
                    chuỗi bị xóa sau thời điểm đó, hãy báo 
                    cáo chuỗi (sử dụng liên kết báo cáo trên bài đăng của bạn) 
                    và yêu cầu xóa.</p>
            </details>
        </div>
    </div>
    <%- include('./partials/foot.ejs') %>
</body>
</html>

<style>
    body{
    margin: 0;
    padding: 0;
    background-image: url("/img/space-planet-3d-monochrome-wallpaper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
    }
    .main{
        width: 50em;
        margin: 200px auto;
        margin-top: 5%;
        background: #fff;
        border-radius: 15px;
        box-shadow: 1px 2px 4px rgba(0,0,0,0.3);
    }
    .ask{
        background: rgb(133, 175, 253);
        border-radius: 15px;
        padding: 10px;
        color: #fff;
        text-align: center;
        font-family: sans-serif;
    }
    .inside{
        background: #f6f6f6;
        padding: 0px 20px 20px;
        border-radius: 10px;
        margin-top: 15px;
        font-family: sans-serif;
        font-size: 15px;
        letter-spacing: 1px;
    }
</style>