<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <!--Nav-->
        <%- include('./partials/nav.ejs') %>

    <!--Main-->
        <div class="Homepage">
            <div class="mySlides">
                <div class="miniProduct">
                    <figure id="G1"></figure>
                    <figure id="G2"></figure>
                    <figure id="G3"></figure>
                    <figure id="G4"></figure>
                </div>
            </div>
            <div class="mySlides">
                <div class="miniProduct">
                    <figure id="M1"></figure>
                    <figure id="M2"></figure>
                    <figure id="M3"></figure>
                    <figure id="M4"></figure>
                </div>
            </div>
            <div class="mySlides">
                <div class="miniProduct">
                    <figure id="A1"></figure>
                    <figure id="A2"></figure>
                    <figure id="A3"></figure>
                    <figure id="A4"></figure>
                </div>
            </div>

            <div class="Product">
                <figure id="P1">
                    <h1>静澪の月</h1>
                    <h2>Art by : 防人</h2>
                    <div class="link">
                        <a href="#">View more artwork ></a>
                        <a href="#">Follow ></a>
                    </div>
                </figure>
            </div>

            <div class="Product">
                <figure id="P2">
                    <h1>The Piano In Darkness</h1>
                    <h2>Art by : 防人</h2>
                    <div class="link">
                        <a href="#">View more artwork ></a>
                        <a href="#">Follow ></a>
                    </div>
                </figure>
            </div>

            <div class="Product">
                <figure id="P3">
                    <h1>栄葉アウラ</h1>
                    <h2>Art by : 防人</h2>
                    <div class="link">
                        <a href="#">View more artwork ></a>
                        <a href="#">Follow ></a>
                    </div>
                </figure>
            </div>
            
        </div>
    <!--Footer -->
        <%- include('./partials/foot.ejs') %>
    <script src="./main.js"> 
    </script>
</body>
</html>